.blog-post {
    position: relative;
    margin-block: 1.5rem;
    padding: 1rem;
    overflow: hidden;
    border: 1px solid #00000010;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.blog-post::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 8px;
    background-color: #3b3cea;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.blog-post:hover {
    padding-left: 2.2rem;
    background-color: #f8f8f8;
}

.blog-post:hover::after {
    width: 15px;
}

.description {
    color: #424242;
    margin-bottom: 0;
}

.time {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    color: gray;
}

.content {
    margin-top: 2rem;
    margin-bottom: 5rem;
}